In [1]:
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib as plt
import numpy as np

import seaborn as sns
sns.set()

In [2]:
df = pd.read_csv(r"C:\Users\Rishi\Downloads\Live.csv")

In [3]:
df.head(10)

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,Column1,Column2,Column3,Column4
0,246675545449582_1649696485147474,video,4/22/2018 6:00,529,512,262,432,92,3,1,1,0,NaN,NaN,NaN,NaN
1,246675545449582_1649426988507757,photo,4/21/2018 22:45,150,0,0,150,0,0,0,0,0,NaN,NaN,NaN,NaN
2,246675545449582_1648730588577397,video,4/21/2018 6:17,227,236,57,204,21,1,1,0,0,NaN,NaN,NaN,NaN
3,246675545449582_1648576705259452,photo,4/21/2018 2:29,111,0,0,111,0,0,0,0,0,NaN,NaN,NaN,NaN
4,246675545449582_1645700502213739,photo,4/18/2018 3:22,213,0,0,204,9,0,0,0,0,NaN,NaN,NaN,NaN
5,246675545449582_1645650162218773,photo,4/18/2018 2:14,217,6,0,211,5,1,0,0,0,NaN,NaN,NaN,NaN
6,246675545449582_1645564175560705,video,4/18/2018 0:24,503,614,72,418,70,10,2,0,3,NaN,NaN,NaN,NaN
7,246675545449582_1644824665634656,video,4/17/2018 7:42,295,453,53,260,32,1,1,0,1,NaN,NaN,NaN,NaN
8,246675545449582_1644655795651543,photo,4/17/2018 3:33,203,1,0,198,5,0,0,0,0,NaN,NaN,NaN,NaN
9,246675545449582_1638788379571618,photo,4/11/2018 4:53,170,9,1,167,3,0,0,0,0,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7050 entries, 0 to 7049
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   status_id         7050 non-null   object
 1   status_type       7050 non-null   object
 2   status_published  7050 non-null   object
 3   num_reactions     7050 non-null   int64
 4   num_comments      7050 non-null   int64
 5   num_shares        7050 non-null   int64
 6   num_likes         7050 non-null   int64
 7   num_loves         7050 non-null   int64
 8   num_wows          7050 non-null   int64
 9   num_hahas         7050 non-null   int64
 10  num_sads          7050 non-null   int64
 11  num_angrys        7050 non-null   int64
 12  Column1           0 non-null      float64
 13  Column2           0 non-null      float64
 14  Column3           0 non-null      float64
 15  Column4           0 non-null      float64
dtypes: float64(4), int64(9), object(3)
memory usage: 881.4+ KB

In [5]:
# 1) How many columns contain null data?
# 4
# 3
# 0
# 5
null_count = df.isnull().sum()
null_count

status_id              0
status_type            0
status_published       0
num_reactions          0
num_comments           0
num_shares             0
num_likes              0
num_loves              0
num_wows               0
num_hahas              0
num_sads               0
num_angrys             0
Column1             7050
Column2             7050
Column3             7050
Column4             7050
dtype: int64

In [6]:
# 2) How many status ids are unique?
# 6997
# 3984
# 6503
# 4509

unique_status = df['status_id'].nunique()
unique_status

6997

In [7]:
# 3) How many video post has been made for live selling:
# 1827
# 2334
# 2345
# 2871

video_count = df[df['status_type'] == 'video'].shape[0]
video_count

2334

In [8]:
# 4) How many likes have been given to the photo posted on 4/19/2018 at 22:26?
# 359
# 493
# 379
# 293

like_count = df[(df['status_type'] == 'photo')  & (df['status_published'] == '4/19/2018 22:26')]['num_likes'].iloc[0]
like_count

379

In [9]:
# 5) How many total shares were made for the video post that was posted on 7/15/2017 at 10:52?
# 173
# 167
# 139
# 153

share_count = df[(df['status_type'] == 'video') & (df['status_published'] == '7/15/2017 10:52')]['num_shares'].iloc[0]
share_count

167

In [10]:
# 6) What does k means do?
# Finds relationships between dependent and independent data
# Group similar elements
# None of the above
# Finds probability of elements

print('Group similar elements')

Group similar elements

In [11]:
# 7) What output will the below code give?  
# colour=['red','blue','green','yellow','cyan']  n=0  for i in range(0,len(colour)): 
#plt.scatter(X[df['Clusters(5)']==i],Y[df['Clusters(5)']==i],s=10,c=colour[i]) plt.scatter(k.cluster_centers_[:,0] ,
#k.cluster_centers_[:,1], color='black') 
# Gives 2 clusters
# Gives 5 clusters with midpoints
# Gives 5 clusters
# Gives 3 clusters

# Assuming you have X, Y, and k defined
# colour=['red','blue','green','yellow','cyan']
# n=0
# for i in range(0,len(colour)):
#     plt.scatter(X[df['Clusters(5)']==i], Y[df['Clusters(5)']==i], s=10, c=colour[i])
# plt.scatter(k.cluster_centers_[:,0], k.cluster_centers_[:,1], color='black')

print('Gives 4 clusters')

Gives 4 clusters

In [12]:
# 8) Which method is used to decide the optimal number of clusters in k-means clustering?
# Append method
# None
# Evaluation Method
# Elbow method

print('Elbow method')

Elbow method

In [13]:
# 9) In what cases is K Means used?
# Regression
# Classification
# Clustering
# None of the above
print('Clustering')

Clustering

In [14]:
# 10) For exploration, do we use Hierarchical Clustering?
# FALSE
# TRUE
print('TRUE')

TRUE

In [15]:
# 11) Which is the function used for the K Means?
# heatmap
# KMeans
# Clusters
# None of the above

print('KMeans')

KMeans

In [16]:
# 12) How to train the K-means model?
# predict()
# train_test_split()
# train()
# fit()
print('fit()')

fit()

In [17]:
# 13) What does random_state do?
# All of the above.
# Checks and validate data when code is run multiple times.
# Used to split data
# Shows states

print('Used to split data')

Used to split data

In [18]:
# 14) How to check which data is placed under which Cluster?
# Labels_
# Cluster_
# None of the above
# Intertia_
print('Labels_')

Labels_

In [19]:
# 15) Why do we perform standard scalar?
# Adding standard values
# Standardizing the data
# None of the above
# Removing standard values

print('Standardizing the data')

Standardizing the data

In [20]:
df.head()

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,Column1,Column2,Column3,Column4
0,246675545449582_1649696485147474,video,4/22/2018 6:00,529,512,262,432,92,3,1,1,0,NaN,NaN,NaN,NaN
1,246675545449582_1649426988507757,photo,4/21/2018 22:45,150,0,0,150,0,0,0,0,0,NaN,NaN,NaN,NaN
2,246675545449582_1648730588577397,video,4/21/2018 6:17,227,236,57,204,21,1,1,0,0,NaN,NaN,NaN,NaN
3,246675545449582_1648576705259452,photo,4/21/2018 2:29,111,0,0,111,0,0,0,0,0,NaN,NaN,NaN,NaN
4,246675545449582_1645700502213739,photo,4/18/2018 3:22,213,0,0,204,9,0,0,0,0,NaN,NaN,NaN,NaN

In [21]:
# 16)
# Perform the following operations on the dataset:
# ● Drop Status id and status published column.
# ● Use a label encoder to encode the status type column.
# ● Standardize the data using min-max scalar
# ● Create a K means model for 2 clusters.
# From the above model, what is the inter-cluster variance of the model?
# 235 to 240
# 284 to 290
# 345 to 350
# 210 to 220

In [22]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.cluster import KMeans

Drop unnecessary columns:

In [23]:
df = df.drop(columns=['status_id', 'status_published'])

# CHANGES TO BE MADE TO AVOID ERROR with NaN values in all these columns

df=df.drop('Column1',axis=1)
df=df.drop('Column2',axis=1)
df=df.drop('Column3',axis=1)
df=df.drop('Column4',axis=1)

Encode categorical data:

In [24]:
le = LabelEncoder()
df['status_type'] = le.fit_transform(df['status_type'])

Standardize numerical data:

In [25]:
scaler = MinMaxScaler()
df_scaled = scaler.fit_transform(df)

Create and fit the K-means model:

In [26]:
kmeans = KMeans(n_clusters=2)
kmeans.fit(df_scaled)

C:\Users\Rishi\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

KMeans(n_clusters=2)

In [27]:
labels=kmeans.labels_
print(labels)

[1 0 1 ... 0 0 0]

In [28]:
inter_cluster_variance = kmeans.inertia_
print("Inter-Cluster Variance:", inter_cluster_variance)

Inter-Cluster Variance: 237.75726404419538