<!-- Q1. Using Python script as a calculator
Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then
evaluate the following expression in the Python console.
ùê¥ = ùëù (1 + ùëü/ 100)n
a. 100
b. 162.89
c. 189
d. None of the above -->

In [1]:
# Q1. Using Python script as a calculator
# Create the variables n, r, p and assign them values 10, 5, and 100 respectively. 
# Then evaluate the following expression in the Python console.
# ùê¥ = ùëù (1 + ùëü/ 100)n
# a. 100
# b. 162.89
# c. 189
# d. None of the above

In [2]:
n = 10
r = 5
p = 100

a= p*(1 + r/ 100)**n
print(a)

162.8894626777442

In [3]:
# Q2. In a given string format operation, how will you print the given string.
# A = 10
# B = 20
# Str = "There are {} students in the class, with {} who play at least one sport."
# a. print(string.format(a,b))
# b. print(string+a+b)
# c. print(string.format(b,a))
# d. None of the above

In [12]:
A = 10
B = 20
string = "There are {} students in the class, with {} who play at least one sport."
print(string.format(A, B))

There are 10 students in the class, with 20 who play at least one sport.

In [5]:
print("There are {} students in the class, with {} who play at least one sport.".format(10,20))

There are 10 students in the class, with 20 who play at least one sport.

In [6]:
# Q3. In a given sample string, How do you print a double quoted string in between a
# regular
# string using the escape character?
# Sample output = It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.
# a. print(‚ÄúIt goes without saying, \‚ÄúTime is Money\‚Äù, and none can deny it.‚Äù)
# b. print(‚ÄúIt goes without saying, \Time is Money\, and none can deny it.‚Äù)
# c. print(‚ÄúIt goes without saying‚Äù + ‚ÄúTime is Money‚Äù + ‚Äúand none can deny it.‚Äù)
# d. None of the above.

In [11]:
print("It goes without saying, \"Time is Money\", and none can deny it.")


#correct way is option a

It goes without saying, "Time is Money", and none can deny it.

In [18]:
# Q4. What will be the output of the following code?
# x = lambda a,b: a//b
# x(10,3)
# a. 3.3333333333
# b. 3
# c. 30
# d. 1000

In [20]:
x = lambda a,b: a//b
print(x(10,3))

3

In [21]:
# Q5. What will be the output of the following code?
# A = 10
# B = 12
# print("Smaller") if A == B else print("Greater") if A < B else print("True")
# a. True
# b. Smaller
# c. Greater
# d. None of the above

In [29]:
A = 10                  
B = 12

if A == B:
     print('Smaller')
elif A < B:
        print('Greater')
else:
    print('True')

Greater

In [ ]:
# What will be the output of the following code?
# Import numpy as np
# My_list1 = [2,7,3,5,4 6]
# Print(my_list1)
# arr_1 = numpy.array(my_list1, dtype = int)

In [31]:
import os
import numpy as np
my_list1 = [2, 7, 3, 5, 4, 6]
print(my_list1)

arr_1 = np.array(my_list1, dtype=int)
print(arr_1)

[2, 7, 3, 5, 4, 6]
[2 7 3 5 4 6]

In [32]:
# Q7. Create a string called ‚Äòstring‚Äô with the value as ‚ÄúMachine Learning‚Äù. 
# Which code(s) is/are appropriate to slice the substring ‚ÄúLearn‚Äù?
# a. string[slice(13,8,1)]
# b. string[slice(1,8,1)]
# c. string[8:14]
# d. string[slice(8,13,1)]

In [38]:
string = 'Machine Learning'

substr = string[slice(8,13,1)]
print(substr)

Learn

In [39]:
# Q8. Create a sequence of numbers from 10 to 25 and increment by 4. What is the index of the value 18?
# a. 3
# b. 2
# c. 0
# d. 1

In [43]:
seq = range(10, 26, 4)
print(list(seq))
print(list(seq).index(18))

[10, 14, 18, 22]
2

In [44]:
# Q9. Which of the following is true with respect to the below codes?
# num1 = 5**4
# num2 = pow(5, 4)
# Print(num1,num2)

# a. num1 = num2
# b. num1 ‚â† num2
# c. num1 < num2
# d. num1 > num2

In [47]:
num1 = 5**4
num2 = pow(5, 4)

print(num1,num2)

625 625

In [48]:
# Q10. A Python NameError exception is raised when: -
# a. Trying to access a variable which has not been defined
# b. Trying to access a key in a dictionary that does not exist
# c. Accessing a column with misspelled column name
# d. Accessing the function from a module that has not been imported

In [49]:
print('it usually means that you have made a typo or that you have forgotten to define a variable')

it usually means that you have made a typo or that you have forgotten to define a variable

In [50]:
# Q11.What type of exception will be raised for the code given below? 
# X = "string"
# Int(x)  
# a. NameError 
# b. KeyError 
# c. ValueError 
# d. AttributeError

In [51]:
x = "string"
int(x)

ValueError: invalid literal for int() with base 10: 'string'

In [52]:
print('ValueError because the string cannot be directly converted to an integer')

ValueError because the string cannot be directly converted to an integer

In [53]:
# Q12.A FileNotFoundError exception is raised by operating system errors when: -
# a. Trying to create a file or directory which already exists
# b. A file or directory is requested but does not exist in the working directory
# c. Trying to run an operation without the adequate access rights
# d. A directory operation, os.listdir() is requested on something which is not a
# directory

In [54]:
print('b. A file or directory is requested but does not exist in the working directory')

b. A file or directory is requested but does not exist in the working directory

In [55]:
# Q13.Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: - 
# a. Complex
# b. Character
# c. Integer
# d. Boolean

In [56]:
z = 'ID-5632'
print(type(z))

#str is sequence of character

<class 'str'>

In [57]:
# Q14.Which of the following variable(s) are character data type?
# a. K= ‚Äú4‚Äù
# b. J= ‚ÄúWelcome‚Äù
# c. L= ‚Äú?‚Äù
# d. All of the above

In [58]:
print('All of the above,they contain strings')

All of the above,they contain strings

In [59]:
# Q15.Choose the symbol/s that does not have the ability to convert any values to string? *********
# a. ( )
# b. ‚Äú ‚Äù
# c. {}
# d. #

##########     {       a n d   (), #         }

SyntaxError: invalid syntax (583528108.py, line 7)

In [60]:
# Q16.Create a dictionary ‚ÄòCountry‚Äô that maps the following countries to their capitals
# respectively:
    
# Country India China Japan Qatar France
# State Delhi Beijing Tokyo Doha Marseilles

# Find 2 commands to replace ‚ÄúMarseilles‚Äù with ‚ÄúParis‚Äù is:

In [61]:
country = {"India": "Delhi", "China": "Beijing", "Japan": "Tokyo", "Qatar": "Doha", "France": "Paris"}
print(country)

# data = {'Name': ['Rahul', 'vicky', 'Navven', 'Raj'], 'Age': [16, 12, 10, 20]}

{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}

In [70]:
country.update({"France": "Paris"})


country.pop("Doha")
country["Qatar"] = "Dukhan"

print(country)

{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}

In [73]:
# Q17. Create the tuples given below
# tuple_1 = (1,5,6,7,8)
# tuple_2 = (8,9,4)
# Identify which of the following code does not work on a tuple.

# a. sum(tuple_1)
# b. len(tuple_2)
# c. tuple_2 + tuple_1
# d. tuple_1[3] = 45

In [76]:
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)


print(sum(tuple_1))
print(len(tuple_2))
print(tuple_2 + tuple_1)

27
3
(8, 9, 4, 1, 5, 6, 7, 8)

In [77]:
# d. tuple_1[3] = 45
print('Tuples are immutable, so you cannot reassign values to their elements.')

Tuples are immutable, so you cannot reassign values to their elements.

In [78]:
#Q18. How many elements in the following data structure?

#S ={1,2,3,4,4,5,6}

S ={1,2,3,4, 4,5,6}
print(S)

{1, 2, 3, 4, 5, 6}

In [79]:
print('Sets are unique collections, so duplicate elements are removed.')

Sets are unique collections, so duplicate elements are removed.

In [82]:
#Q19.Write a function which finds all pythagorean triplets of triangles whose sides are no
#greater than a natural number N.

In [83]:
def find_py_tri(x):
    triplets= []
    for a in range(1, x + 1):
        for b in range(a, x + 1):
            for c in range(b, x + 1):
                if a * a + b * b == c * c:
                    triplets.append((a, b, c))
    return triplets

x = 15
result = find_py_tri(x)
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (9, 12, 15)]