# Assignment-1-If-Else

In [2]:
 #1. Input the values of a and b as 10 and 20 respectively. Now check if a is greater or b is greater using if condition. 
 #   Think about all the edge cases,and print the statements accordingly. 

a = 10
b = 20

if a > b:
    print("a is greater than b")
    
elif a == b:
    print("a is equal to b")
    
else:
    print("b is greater than a")

b is greater than a

In [3]:
if a > b:
    print("a is greater than b")
elif a == b:
    print("a is equal to b")
else:
    print("b is greater than a")

b is greater than a

# Assignment-2-Conditional-Statements

In [4]:
#1. Take three user inputs and print the greatest number from those inputs using if-else condition.
#   Edge cases, if any, should also be 

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

greatest_num = None

# if num1 is the greatest
if num1 > num2 and num1 > num3:
       greatest_num = num1
        
# if num2 is the greatest
elif num2 > num1 and num2 > num3:
       greatest_num = num2
        
# if num3 is the greatest
elif num3 > num1 and num3 > num2:
       greatest_num = num3
        
else:
    print("All are equal")

if greatest_num:
    print("The greatest number is:", greatest_num)
else:
    print("All numbers are equal")

Enter the first number: 23
Enter the second number: 44
Enter the third number: 34
The greatest number is: 44

# Assignment 1 – Loops

In [5]:
# Print the numbers from 1 to 10 using while loop.

i = 1

while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

# Assignment 2 – Loops

In [11]:
# 1. Create a list that has 10, 23, 4, 26, 4, 75, 24, 54 values and with the help
#    of while loop fetch the even numbers and print the numbers

numb = [10, 23, 4, 26, 4, 75, 24, 54]

# Using a while loop to fetch and print even numbers
index = 0
while index < len(numb):
    if numb[index] % 2 == 0:
        print(numb[index])
    index += 1

10
4
26
4
24
54

In [7]:
# using for loop
list = [10, 23, 4, 26, 4, 75, 24, 54]


for x in list:
    if x % 2 == 0:
        print(x)

10
4
26
4
24
54

# Assignment 3 – Loops

In [1]:
#1. Create an array that has user defined inputs and with the help of for loop,
#   fetch all the prime numbers and print the numbers...

# Function to check if a number is prime
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Taking user inputs to create an array
try:
    n = int(input("Enter the number of elements in the array: "))
    user_array = [int(input(f"Enter element {i + 1}: ")) for i in range(n)]
except ValueError:
    print("Invalid input. Please enter valid integers.")
    exit()

# Using a for loop to fetch and print prime numbers
print("Prime numbers in the array:")
for element in user_array:
    if is_prime(element):
        print(element)

Enter the number of elements in the array: 3
Enter element 1: 4
Enter element 2: 5
Enter element 3: 6
Prime numbers in the array:
5

# Case Study Problem 1

In [2]:
# 1. Create a list containing squares of numbers from 1 to 10 (HINT: use List Comprehension).

squares = [x * x for x in range(1, 11)]
print("Squares of numbers from 1 to 10:", squares)

Squares of numbers from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
# 2. Write a function to check if the year number is a leap year

def is_leap_year(year):
    if (year % 4 == 0) and (year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False

In [4]:
year = 2024
if is_leap_year(year):
    print(year, "is a leap year")
else:
    print(year, "is not a leap year")

2024 is a leap year

In [5]:
# 3. Write a function to take an array and return another array that contains the members of the first array that are even

def get_even_members(array):
    even_members = [x for x in array if x % 2 == 0]
    return even_members

In [6]:
array = [1, 2, 3, 4, 5, 6]
even_members = get_even_members(array)
print("Even members of the array:", even_members)

Even members of the array: [2, 4, 6]

In [7]:
# 4. Write a function that takes 2 arrays and prints the members of the first array that are present in the second array.
# (HINT: use Membership Comprehension)

def find_common_members(array1, array2):
    common_members = [x for x in array1 if x in array2]
    return common_members

In [8]:
array1 = [1, 2, 3, 4, 5]
array2 = [3, 4, 5, 6, 7]
common_members = find_common_members(array1, array2)
print("Common members of the two arrays:", common_members)

Common members of the two arrays: [3, 4, 5]

# Case Study Problem 2

In [9]:
# 1. Create 1st tuple with values -> (10, 20, 30), 
#    2nd tuple with values -> (40, 50, 60):
# a. Concatenate the two tuples and store it in “t_combine”
# b. Repeat the elements of “t_combine” 3 times
# c. Access the 3rd element from “t_combine”
# d. Access the first three elements from "t_combine"
# e. Access the last three elements from "t_combine"

In [10]:
# Create the first, second tuple
t1 = (10, 20, 30)
t2 = (40, 50, 60)

# Concatenate the tuples and store in t_combine
t_combine = t1 + t2

# Repeat the elements of t_combine 3 times
t_combined_repeated = t_combine * 3

# Access the 3rd element from t_combine
third_element = t_combined_repeated[2]

# Access the first three element from t_combine
first_three_elements = t_combined_repeated[:3]

# Access the last three elements from t_combine
last_three_elements = t_combined_repeated[-3:]

print(t_combine)
print(t_combined_repeated)
print(third_element)
print(first_three_elements)
print(last_three_elements)

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)
30
(10, 20, 30)
(40, 50, 60)

In [11]:
# 2. Create a list 'my_list' with these elements:
# a. First element is a tuple with values 1, 2, 3
# b. Second element is a tuple with values “a”, “b”, “c”
# c. Third element is a tuple with value of true or false


# 3. Append a new tuple – (1, ‘a’, True) to ‘my_list’:
# a. Append a new list – *“sparta”, 123+ to my_list

In [26]:
my_list = [ (1,2,3), ("a","b","c"),(True,False),]

In [27]:
my_list.append((1,"a",True))

In [29]:
my_list.append(["sparta", 123+9])

In [12]:
# Create the list my_list
my_list = [
    (1, 2, 3),
    ("a", "b", "c"),
    (True, False),
]

# Append a new tuple (1, 'a', True) to my_list
my_list.append((1, 'a', True))

# Append a new list - *"sparta", 123+ to my_list
my_list.append(["sparta", 123+78])

In [13]:
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), ['sparta', 201]]

In [14]:
# 4. Create a dictionary ‘fruit’ where:
# a. The first key is ‘Fruit’ and the values are (“Apple”, “Banana”, “Mango”,“Guava”)
# b. The second key is ‘Cost’ and the values are (85, 54, 120, 70)
# c. Extract all the keys from ‘fruit’
# d. Extract all the values from ‘fruit’

In [15]:
# Create the dictionary fruit

fruit = {
       "Fruit": ("Apple","Banana","Mango","Guava"),
       "Cost" : (85, 54, 120, 70)
}

# Extract all the keys from fruit
fruit_keys = fruit.keys()

# Extract all the values from fruit
fruit_values = fruit.values()

print(fruit_keys)
print(fruit_values)

dict_keys(['Fruit', 'Cost'])
dict_values([('Apple', 'Banana', 'Mango', 'Guava'), (85, 54, 120, 70)])

In [16]:
#5. Create a set named ‘my_set’ with values (1, 1, “a”, “a”, True, True) and print the result.

# Create the set my_set with values (1, 1, "a", "a", True, True)
my_set = {1, 1, "a", "a", True, True}

print(my_set)

{1, 'a'}