In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\Rishi\Downloads\censusincome.csv")

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
# 1) What is the biggest advantage that helps random forest classifiers to triumph over the decision trees?
# A All of the above
# B It works on the bagging method(bootstrap method)
# C It has shown great predictive results over decision tree models.
# D It Combines all positive predictions from all decision trees
print("All of the above")

All of the above

In [5]:
# 2) In a given problem where you have a very large dataset with both continuous and categorical features,
#why would you choose the random forest classifier?
# A Random forest can work on both regression and classification problem
# B Works well with the high dimensional data
# C All of the above
# D High accuracy with less need for interpretation

print("All of the above")

All of the above

In [6]:
# 3) Which of the following techniques is used in the Random Forest model?
# A Boosting
# B None of the these
# C Bagging
# D Ensemble

print('Bagging')

Bagging

In [5]:
# 4)
# Choose the percentage of population with income greater than 50K income?
# A 25.2%
# B 24.8%
# C 75.5%
# D 35.5%

percentage_above_50k = (df[df['annual_income'] == '>50K'].shape[0] / df.shape[0]) * 100
print(percentage_above_50k)

24.080955744602438

In [6]:
# 5) Compute how many samples of the population are never married and working hours less than 20 hours?
# A 785
# B 127
# C 134
# D 123

samples_count = df[(df['marital-status'] == 'Never-married') & (df['hours-per-week'] < 20)].shape[0]
print(f"Number of samples: {samples_count}")
# correct ans 785

Number of samples: 907

In [7]:
# 6) Choose the correct list of age with minimum age , maximum and 50th Percentile of the age group?
# A All
# B [17,90,36]
# C [17,90,37]
# D [15,95,37]

min_age = df['age'].min()
max_age = df['age'].max()
median_age = df['age'].median()

print(f"Minimum age: {min_age}, Maximum age: {max_age}, 50th Percentile age: {median_age}")

Minimum age: 17, Maximum age: 90, 50th Percentile age: 37.0

In [8]:
# 7) From above census data which country has the highest population and  the lowest population?
# A United-States and scotland
# B United-States and Holland-Netherlands
# C Mexico and Holland-Netherlands
# D Scotland and Holland-Netherlands

highest_population_country = df['native-country'].value_counts().idxmax()
lowest_population_country = df['native-country'].value_counts().idxmin()

print(f"Highest population country: {highest_population_country}, Lowest population country: {lowest_population_country}")

Highest population country: United-States, Lowest population country: Holand-Netherlands

In [7]:
# 8) How does n_estimators work in the random forest classifier?
# A Training epochs
# B Number of decision trees
# C Number of iterations
# D Number of random forests for the classifier.

print('Number of decision trees')

Number of decision trees

In [8]:
# 9) Can the target data for the random forest model be categorical or continuous value?
# A No
# B Yes
print('yes')

yes

In [9]:
# 10) How can you use hyperparameter tuning to your advantage while working with the random A forest classifier?
# A Normalizes the features
# B Improve the model’s performance
# C Standardization of the data
# D All of the above

print(' Improve the model’s performance')

 Improve the model’s performance

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  annual_income   32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for i in df.columns:
    if df[i].dtypes=='object':
        df[i]=le.fit_transform(df[i])     # If the data type of that column is objet(string) transform it

df.dtypes

age               int64
workclass         int32
fnlwgt            int64
education         int32
education-num     int64
marital-status    int32
occupation        int32
relationship      int32
race              int32
sex               int32
capital-gain      int64
capital-loss      int64
hours-per-week    int64
native-country    int32
annual_income     int32
dtype: object

In [11]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
0,39,7,77516,9,13,4,1,1,4,1,2174,0,40,39,0
1,50,6,83311,9,13,2,4,0,4,1,0,0,13,39,0
2,38,4,215646,11,9,0,6,1,4,1,0,0,40,39,0
3,53,4,234721,1,7,2,6,0,2,1,0,0,40,39,0
4,28,4,338409,9,13,2,10,5,2,0,0,0,40,5,0

In [12]:
X = df.drop(columns=['annual_income'])#independent variable
y = df['annual_income']#dependent or target value

In [13]:
# Code for random forest classification
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Assuming 'data' is your DataFrame containing the census data
# Assuming 'X' contains features and 'y' contains the target variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the random forest classifier
rf_classifier = RandomForestClassifier(n_estimators=15, random_state=2)

# Fit the model on the training data
rf_classifier.fit(X_train, y_train)

# Make predictions on the test set
y_pred = rf_classifier.predict(X_test)

# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.8556732688469215

In [14]:
from sklearn.model_selection import RandomizedSearchCV

# Assuming 'X' contains features and 'y' contains the target variable

# Define the parameter grid
param_grid = {
    'n_estimators': [50, 100, 150, 200],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Initialize the random forest classifier
rf_classifier = RandomForestClassifier(random_state=2)

# Perform RandomizedSearchCV
random_search = RandomizedSearchCV(rf_classifier, param_distributions=param_grid, n_iter=10, cv=5, random_state=2)
random_search.fit(X, y)

# Get the best hyperparameters
best_params = random_search.best_params_

# Fit the model with the best hyperparameters
best_rf_classifier = RandomForestClassifier(**best_params, random_state=2)
best_rf_classifier.fit(X_train, y_train)

# Make predictions on the test set
y_pred_best = best_rf_classifier.predict(X_test)

# Calculate the accuracy of the model
accuracy_best = accuracy_score(y_test, y_pred_best)
print(f"Accuracy with best hyperparameters: {accuracy_best}")

Accuracy with best hyperparameters: 0.8668816213726394

In [13]:
# 11) Select the best hyperparameters by RandomSearchCV and fit the model with the best hyperparameters and compute the accuracy
#score of the model.
# A 30% to 50%
# B 50% to 70%
# C None of the above
# D 85% and above
print('85% and above')

85% and above

In [14]:
# 12) Which of the following Two features are most important in Random forest model?
# A Predict_proba
# B sensitivity and specificity
# C None of the above
# D Correlation between 2 trees and how strong an individual tree is
print('Correlation between 2 trees and how strong an individual tree is')

Correlation between 2 trees and how strong an individual tree is

In [15]:
# 13) Based on what values, the feature importance will be calculated?
# A A Mean decrease gini and mean decrease accuracy
# B All of the above
# C mean increase gini and mean increase accuracy
# D mean increase gini and mean decrease accuracy
print('A Mean decrease gini and mean decrease accuracy')

A Mean decrease gini and mean decrease accuracy

In [16]:
# 14) From the above model, state the disadvantage of the random forest?
# A  It is a time consuming model building process
# B It is same as all other model
# C None of the above
# D It’s training time is huge due to the complexity of the model
print('It is a time consuming model building process')

It is a time consuming model building process

In [18]:
# 15) Which are the two methods used for hyperparameter tuning and cross-validation?
# A GridSearchCV
# B RandomizedSearchCV and GridSearchCV
# C RandomizedSearchCV
# D RandomForestCLassifier
print('RandomizedSearchCV and GridSearchCV')

RandomizedSearchCV and GridSearchCV

 Use the Airport_Passengers_Satisfication.csv data for the following questions, Don’t perform any Data cleaning or pre-processing before answering the question.

In [45]:
dt=pd.read_csv(r"C:\Users\Rishi\Downloads\Airport_Passengers_Satisfication.csv")

In [46]:
dt.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,3,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,3,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,2,...,2,4,1,3,2,2,2,0,0.0,dissatisfied
3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,4,...,2,2,2,2,4,2,4,0,20.0,satisfied

In [24]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25976 entries, 0 to 25975
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 25976 non-null  int64
 1   Gender                             25976 non-null  object
 2   Customer Type                      25976 non-null  object
 3   Age                                25976 non-null  int64
 4   Type of Travel                     25976 non-null  object
 5   Class                              25976 non-null  object
 6   Flight Distance                    25976 non-null  int64
 7   Inflight wifi service              25976 non-null  int64
 8   Departure/Arrival time convenient  25976 non-null  int64
 9   Ease of Online booking             25976 non-null  int64
 10  Gate location                      25976 non-null  int64
 11  Food and drink                     25976 non-null  int64
 12  Online boarding                    25976 non-null  int64
 13  Seat comfort                       25976 non-null  int64
 14  Inflight entertainment             25976 non-null  int64
 15  On-board service                   25976 non-null  int64
 16  Leg room service                   25976 non-null  int64
 17  Baggage handling                   25976 non-null  int64
 18  Checkin service                    25976 non-null  int64
 19  Inflight service                   25976 non-null  int64
 20  Cleanliness                        25976 non-null  int64
 21  Departure Delay in Minutes         25976 non-null  int64
 22  Arrival Delay in Minutes           25893 non-null  float64
 23  satisfaction                       25976 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 4.8+ MB

In [26]:
# 16) What percentage of Female passengers are dissatisfied?
# A 44%
# B 31%
# C 49%
# D 56%
diss_female = (dt[dt['Gender'] == 'Female']['satisfaction'] == 'dissatisfied').mean() * 100
print(diss_female)

56.46067415730337

In [28]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, f1_score

In [30]:
# 17) There are 14 columns that have values ranging from 1 to 5.  
# Take the average of the data from all such columns and assign to a new column ave_score. 
# In the satisfaction column, convert satisfied to 1 and dissatisfied to 0. 
# With the independent variable as ave_score and dependent variable as satisfaction, 
# build a basic decision tree with test size=0.2 and random_state=42.  What is the accuracy_score of the model?
# A 0.69
# B 0.65
# C 0.77
# D 0.72

#select columns with values raning from 1 to 5
rating_col = dt.iloc[:, 7:21]
dt['ave_score'] = rating_col.mean(axis=1)

# Convert satisfaction to binary (1 for satisfied, 0 for dissatisfied)
dt['satisfaction'] = dt['satisfaction'].apply(lambda x: 1 if x == 'satisfied' else 0)

In [35]:
# split the data
X = dt[['ave_score']]
y = dt['satisfaction']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#built a basic decision tree

dt_classifier = DecisionTreeClassifier(random_state=42)
dt_classifier.fit(X_train, y_train)

y_pred_dt = dt_classifier.predict(X_test)
accuracy_dt = accuracy_score(y_test, y_pred_dt)
print(accuracy_dt)

1.0

In [38]:
# 18)Build a basic random forest model with test_size=0.3, 
# random_state=24 (parameter for both train_test_split and model initialization), 
# n_estimators=200 with the 14 rating columns as independent variable and satisfaction column as dependent variable, 
# what is the accuracy score of the model?
# A 0.89
# B 0.98
# C 0.95
# D 0.93

#split the data
xx_rf = rating_col
yy_rf = dt['satisfaction']
X_train_rf, X_test_rf, y_train_rf, y_test_rf = train_test_split(xx_rf, yy_rf, test_size=0.3, random_state=24)

# Build a basic random forest model
rf_classifier = RandomForestClassifier(n_estimators=200, random_state=24)
rf_classifier.fit(X_train_rf, y_train_rf)
y_pred_rf = rf_classifier.predict(X_test_rf)
accuracy_rf = accuracy_score(y_test_rf, y_pred_rf)
print(f"18) Accuracy of the random forest model: {accuracy_rf}")

18) Accuracy of the random forest model: 1.0

In [44]:
dt.head()

,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,...,Inflight service,Cleanliness,Departure Delay in Minutes,satisfaction,ave_score,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Eco,Class_Eco Plus
0,52,160,5,4,3,4,3,4,3,5,...,5,5,50,0,4.142857,False,False,False,True,False
1,36,2863,1,1,3,1,5,4,5,4,...,4,5,0,0,3.428571,False,False,False,False,False
2,20,192,2,0,2,4,2,2,2,2,...,2,2,0,0,2.142857,True,True,False,True,False
3,44,3377,0,0,0,2,3,4,4,1,...,1,4,0,0,1.785714,True,False,False,False,False
4,49,1182,2,3,4,3,4,1,2,2,...,2,4,0,0,2.642857,False,False,False,True,False

In [47]:
# 19)Build a basic random forest model in the original data set with test_size=0.3, 
# random_state=12 (parameter for both train_test_split and model initialization) and, 
# n_estimators=500, criterion='entropy' after performing below steps.
# In satisfaction column, convert satisfied to 1 and dissatisfied to 0
# Drop columns ‘id’ and 'Arrival Delay in Minutes'
# Apply pandas get_dummies in the remaining columns.
# What is the f1 score of the model?
# A 0.95
# B 0.90
# C 0.93
# D 0.98

# Preprocess data
dt['satisfaction'] = dt['satisfaction'].apply(lambda x: 1 if x == 'satisfied' else 0)
dt = dt.drop(['id', 'Arrival Delay in Minutes'], axis=1)
dt = pd.get_dummies(dt, drop_first=True)

# Split the data
X_rf_preprocessed = dt.drop('satisfaction', axis=1)
y_rf_preprocessed = dt['satisfaction']
X_train_rf_preprocessed, X_test_rf_preprocessed, y_train_rf_preprocessed, y_test_rf_preprocessed = train_test_split(
    X_rf_preprocessed, y_rf_preprocessed, test_size=0.3, random_state=12
)

# Build a basic random forest model
rf_classifier_preprocessed = RandomForestClassifier(n_estimators=500, criterion='entropy', random_state=12)
rf_classifier_preprocessed.fit(X_train_rf_preprocessed, y_train_rf_preprocessed)
y_pred_rf_preprocessed = rf_classifier_preprocessed.predict(X_test_rf_preprocessed)
f1_rf_preprocessed = f1_score(y_test_rf_preprocessed, y_pred_rf_preprocessed)
print(f"19) F1 score of the preprocessed random forest model: {f1_rf_preprocessed}")

19) F1 score of the preprocessed random forest model: 0.9494407158836689

In [36]:
# 20) Whether we can use the Random Forest method if the target variable is continuous?
# a No,we can’t use continuous target variables.
# b Change the continuous target variable to categories and apply Random Forest
# c None of the options is correct
# d Yes, we can use it for continuous target variables.

print('Change the continuous target variable to categories and apply Random Forest')

Change the continuous target variable to categories and apply Random Forest

In [20]:
# 21) Consider we are building One Random forest with 100 trees, please choose the correct option w.r.t the process it follows?
# A Random columns and Random records for each tree, Build trees in series.
# B Random columns and All records for each tree, Build trees in series.
# C Random columns and Random records for each tree, Build trees in parallel.
# D All columns and Random records for each tree, Build trees in parallel.

print('Random columns and Random records for each tree, Build trees in parallel.')

Random columns and Random records for each tree, Build trees in parallel.

In [19]:
# 22) Which of the following is NOT a hyperparameter in Random Forest?
# A Maximum depth of each tree
# B Learning rate
# C Number of features to consider at each split
# D Number of trees

print('Learning rate')

Learning rate